{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Instructor Dashboard</h2>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-info">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h3>Your Courses</h3>
        <div class="row">
            {% for course in instructor_courses %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow">
                        <img src="{{ url_for('static', filename='course_images/' + course.image_filename) }}" class="card-img-top" alt="{{ course.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.title }}</h5>
                            <p class="card-text">{{ course.description }}</p>
                            <p class="card-text">Price: #{{ course.price }}</p>
                            <a href="{{ url_for('course_details', course_id=course.id) }}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
